## pycharm project path
.idea
## temporal files of assembly project in inventor
**/OldVersions
## ignores drawing temporal files of inventor
**/lockfile.lck

## temporal files of freeCAD projects
**/*.FCStd1

## temporal vim files
**/*.md.swp