<launch>

<group ns="imu1">
    	<!-- B2 Sensor node -->
    	<node name="b2_node_ed58" pkg="openzen_sensor" type="openzen_sensor_node">
    		<param name="sensor_interface" value="Bluetooth" />  
    		<param name="sensor_name" value="00:04:3E:53:ED:58" />  
	</node>

</group>

<group ns="imu2">
    	<!-- B2 Sensor node -->
    	<node name="b2_node_ed5B" pkg="openzen_sensor" type="openzen_sensor_node">
    		<param name="sensor_interface" value="Bluetooth" />  
    		<param name="sensor_name" value="00:04:3E:53:ED:5B" />  
	</node>

</group>

</launch>
