<?xml version="1.0"?>
<!--
roslaunch openzen_sensor lpmsb2-one-usb_cam.launch
-->
<launch>

<arg name="record_imus_data" default="false" />
<arg name="plot_euler" default="true" />
<arg name="plot_quaternions" default="false" />
<arg name="bags_directory" value="/home/mx19/bagfiles"/>

    	<!-- B2 Sensor node -->
    	<node 
		name="b2_node" 
		pkg="openzen_sensor" 
		type="openzen_sensor_node">
    		<param name="sensor_interface" value="Bluetooth" />  
    		<param name="sensor_name" value="00:04:3E:53:ED:58" />  
	</node>


	<!-- Quaternion to Euler conversion node --> 
	<node 
		name="quat_to_euler" 
		pkg="topic_tools" 
		type="transform"
        	args=	"	
			/imu/data/orientation 
			/rpy_angles geometry_msgs/Vector3 
			'tf.transformations.euler_from_quaternion([m.x, m.y, m.z, m.w])' 
			--import tf
			" 
	/>
 
	<!-- Plot Euler Angles -->
	<node 
		name="plot_imu_euler" 
		pkg="rqt_plot" 
		type="rqt_plot"
		args="/rpy_angles/x:y:z" 
       		if="$(arg plot_euler)" 
	/>

	<!-- Plot Quaternions -->
    	<node 
		name="plot_imu_quaternions" 
		pkg="rqt_plot" 
		type="rqt_plot" 
        	args="/imu/data/orientation/w:x:y:z" 
       		if="$(arg plot_quaternions)" 
	/>


  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video2" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>

  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
    <param name="autosize" value="true" />
  </node>



   	<!-- Record bag -->
 	<node 
		pkg="rosbag" 
		type="record" 
		name="rosbag_record"
       		args="record -o $(arg bags_directory)/ /rpy_angles " 
       		if="$(arg record_imus_data)" 
	/>

</launch>
