<?xml version="1.0"?>
<launch>

<arg name="record_imus_data" default="true" />
<arg name="plot_euler" default="true" />
<arg name="plot_quaternions" default="false" />
<arg name="bags_directory" value="/home/mx19/bagfiles"/>

    	<!-- B2 Sensor node -->
    	<node 
		name="b2_node" 
		pkg="openzen_sensor" 
		type="openzen_sensor_node">
    		<param name="sensor_interface" value="Bluetooth" />  
    		<param name="sensor_name" value="00:04:3E:53:ED:58" />  
	</node>


	<!-- Quaternion to Euler conversion node --> 
	<node 
		name="quat_to_euler" 
		pkg="topic_tools" 
		type="transform"
        	args=	"	
			/imu/data/orientation 
			/rpy_angles geometry_msgs/Vector3 
			'tf.transformations.euler_from_quaternion([m.x, m.y, m.z, m.w])' 
			--import tf
			" 
	/>
 
	<!-- Plot Euler Angles -->
	<node 
		name="plot_imu_euler" 
		pkg="rqt_plot" 
		type="rqt_plot"
		args="/rpy_angles/x:y:z" 
       		if="$(arg plot_euler)" 
	/>

	<!-- Plot Quaternions -->
    	<node 
		name="plot_imu_quaternions" 
		pkg="rqt_plot" 
		type="rqt_plot" 
        	args="/imu/data/orientation/w:x:y:z" 
       		if="$(arg plot_quaternions)" 
	/>


   	<!-- Record bag -->
 	<node 
		pkg="rosbag" 
		type="record" 
		name="rosbag_record"
       		args="record -o $(arg bags_directory)/ /rpy_angles " 
       		if="$(arg record_imus_data)" 
	/>

</launch>
